<mat-sidenav-container >
    <mat-sidenav mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list >

            <mat-list-item>
                <mat-icon class="material-icons-outlined" mat-list-icon>home</mat-icon>
                <a mat-list-item routerLink="/">Home</a>
            </mat-list-item>

            <mat-list-item>
                <mat-icon class="material-icons-outlined" mat-list-icon>account_circle</mat-icon>
                <a mat-list-item routerLink="/usuario/cadastrar">Cadastrar comprador</a>
            </mat-list-item>

            <mat-list-item>
                <mat-icon class="material-icons-outlined" mat-list-icon>list</mat-icon>
                 <a mat-list-item routerLink="/usuario/listar">Listar compradores</a>
             </mat-list-item>

            <mat-list-item>
                <mat-icon class="material-icons-outlined" mat-list-icon>build</mat-icon>
                <a mat-list-item routerLink="/usuario/update">Editar comprador</a>
            </mat-list-item>

            <mat-list-item>
                <mat-icon class="material-icons-outlined" mat-list-icon>restore_from_trash</mat-icon>
                <a mat-list-item routerLink="/usuario/delete">Deletar comprador</a>
            </mat-list-item>

             <mat-list-item>
                <mat-icon class="material-icons-outlined" mat-list-icon>directions_car</mat-icon>
                <a mat-list-item routerLink="/carro/cadastrar">Cadastrar carro</a>
            </mat-list-item>

            <mat-list-item>
                <mat-icon class="material-icons-outlined" mat-list-icon>list</mat-icon>
                <a mat-list-item routerLink="/carro/listar">Listar concessionaria</a>
            </mat-list-item>

            <mat-list-item>
                <mat-icon class="material-icons-outlined" mat-list-icon>build</mat-icon>
                <a mat-list-item routerLink="/carro/update">Editar carro</a>
            </mat-list-item>

            <mat-list-item>
                <mat-icon class="material-icons-outlined" mat-list-icon>restore_from_trash</mat-icon>
                <a mat-list-item routerLink="/carro/delete">Deletar carro</a>
            </mat-list-item>


        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    
</mat-sidenav-container>
