<h1>Carros cadastrados</h1>

<table>
    <tr>
        <th> Id</th>
        <th> Marca</th>
        <th> Valor</th>
        <th> ID de comprador</th>
        <th> Nome do comprador</th>
    </tr>
    <tr *ngFor="let carro of carros">

        <td>{{ carro.id }}</td>
        <td>{{ carro.marca }}</td>
        <td>{{ carro.valor }}</td>
        <td>{{ carro.userId }}</td>
        <td>{{ carro.usuario!.nome}}</td>


</table>

<button mat-stroked-button routerLink="/carro/update" class="mat-elevation-z8">Editar</button>
<button mat-stroked-button routerLink="/carro/delete" class="mat-elevation-z8">Delete</button>
<button mat-stroked-button routerLink="/carro/cadastrar" class="mat-elevation-z8"> Cadastrar novo carro </button>

