div{
    display: flex;
    justify-content: center;
    height: 100%;
}
mat-card-title{
    font-size: 30px;
}

table {
    margin-top: 20px;
    width: 90%;
}

th{
    color:rgba(0, 0, 0, 0.822);
    font-weight: bold;
    background-color:rgba(165, 159, 70, 0.555);
}

button{
    left: 56px;
    width: 30%;
    border: 3px solid #000;
    background-color: orange;
  
  }
