<a mat-raised-button color="warn" routerLink="/carro/Listar"></a>
<mat-card-title> Carros cadastrados</mat-card-title>


<div>
<table mat-table [dataSource]="carros" class="mat-elevation-z8">
  
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let carro"> {{carro._id}} </td>
    </ng-container>

    <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef> Marca do carro:</th>
        <td mat-cell *matCellDef="let carro"> {{carro.marca}} </td>
    </ng-container>

    <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor do carro: </th>
        <td mat-cell *matCellDef="let carro"> {{carro.valor}} </td>
    </ng-container>

    <ng-container matColumnDef="buyId">
        <th mat-header-cell *matHeaderCellDef> ID de compra: </th>
        <td mat-cell *matCellDef="let carro"> {{carro.buyId}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="listColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: listColumns;"></tr>
  </table>
</div>
<button mat-stroked-button routerLink="/carro/editar" class="mat-elevation-z8">Editar</button>
<button mat-stroked-button routerLink="/carro/delete" class="mat-elevation-z8">Delete</button>
<button mat-stroked-button routerLink="/carro/cadastrar" class="mat-elevation-z8"> Cadastrar novo carro </button>
