<mat-card>
    <mat-card-title class="title"> Cadastrar Carro comprado </mat-card-title>
    
    <mat-card-content>

            <div class="marca"></div>
                <mat-form-field>
                    <label for="nome">Marca:</label>
                    <input type="text" name="data" [(ngModel)]="marca" />
                </mat-form-field>

            <div class="valor"></div>   
                <mat-form-field>
                    <label for="data">Valor:</label>
                    <input type="number" name="data" [(ngModel)]="valor" />
                </mat-form-field> 

            <!-- <div class="compra"></div>   
                <mat-form-field>
                    <label for="data">ID de Compra:</label>
                    <input type="number" name="data" [(ngModel)]="userId" />
                </mat-form-field> -->

            <div class="usuario"></div>   
                <mat-form-field>
                    <label for="usuario">ID do comprador:</label>
                    <input type="text" name="usuario" [(ngModel)]="userId">
                    <mat-option
                            *ngFor="let usuario of usuarios"
                            value="{{ usuario.id }}"
                        >
                            {{ usuario.nome }}
                        </mat-option>
                </mat-form-field>


                <!-- <mat-form-field id="usuario">
                    <label for="usuario">Usuario:</label>
                    <mat-select name="usuario" [(ngModel)]="usuarios">
                        <mat-option
                            *ngFor="let usuario of usuarios"
                            value="{{ usuario.id }}"
                        >
                            {{ usuario.nome }}
                        </mat-option>
                    </mat-select>>
                </mat-form-field> -->

            <button mat-raised-button (click)="cadastrar()">Cadastrar</button>
            <button mat-raised-button routerLink="/">Voltar</button>
            <button class="blista" mat-raised-button routerLink= "/carro/listar" > Listar os carros </button>         
        </mat-card-content>
    </mat-card>
 