<h1> Editar carro:</h1>
<mat-card-content>

<div id="id">
    <label for="id">ID:  </label>
    <input label placeholder type="number" name="id" [(ngModel)] = "id"/>
</div>

<div id="marca">
    <label for="marca">Marca: </label>
    <input type="text" name="marca" [(ngModel)] = "marca"/>
</div>

<div id="valor">
    <label for="valor">Valor:</label>
    <input label placeholder type="number" name="valor" [(ngModel)] = "valor"/>
</div>

<div id="buyid">
    <label for="buyid">ID de compra:</label>
    <input label placeholder type="number" name="buyId" [(ngModel)] = "buyId"/>
</div>

</mat-card-content>
<button mat-raised-button (click)="update()">Editar</button>