mat-card-content{
    padding: 20px;
}
button{
    left: 56px;
    width: 30%;
    border: 3px solid #000;
    background-color: rgb(207, 164, 23);
  
}

.title{
    font-size: 25pt;
    font-weight: bold;
    color: #000000;
}
