mat-card {
    width: 100%;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}
.home {
    padding: 0 10%;
    justify-content: center;
    background-color: rgb(241, 189, 14);
}
.title {
    font-size: 36pt;
    font-weight: bold;
    color: #000000;
    width: 100%;
    text-align: center;
}

.subtitle {
    font-size: 18pt;
    color: #000000;
    width: 100%;
    text-align: center;
}
