.home {
    display: flex;
    min-height: calc(100vh - 120px);
    flex-direction:column;
    row-gap: 30px;
    padding: 0 10%;
    justify-content: center;
    background-color: rgb(241, 189, 14);
}

.title {
    font-size: 36pt;
    font-weight: bold;
    color: #000000;
    width: 300px;
    text-align: center;
}

.subtitle {
    font-size: 18pt;
    color: #000000;
    width: 40%;
    text-align: center;
}
